<!DOCTYPE html>
<html lang="en">
{include file='index/head'/}
<body>
{include file='index/header'/}
<section >
    <div class=" container-fluid " >
        <div class="row" >
            <div class="col-md-12 " >
                <div class="post ">
                    <div class="post-head" >
                        <h1 style="text-align: center ">
                            名言管理
                        </h1>

                    </div>
                    <div class="post-content" >
                        <form class="form-inline" role="form" method="post" action="{:url('wellsaying/findwellsaying')}">
                            <div class="form-group">
                                <label  for="name">名言内容:</label>
                                <input type="text" class="form-control form-control2" id="name" placeholder="请输入关键字" name="content">
                            </div>
                            <button type="submit" class="btn btn-doc1">查询</button>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>内容</th>
                                    <th>日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="wellsaying" id="vo"}
                                <tr> <td><a data-toggle="modal" data-target="#myModal{$vo.id}"><span class="glyphicon glyphicon-tags">修改</span></a>&nbsp;
                                    <div class="modal " style="margin-top: 100px" id="myModal{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLab">修改名言</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <form method="post" style="margin-top: 10px" action="{:url('wellsaying/updwellsaying',['id'=>$vo.id])}" role="form">


                                                        <textarea type="text" rows="4" style="width: 100%" class="form-control form-control1"  id="title1" name="content" >{$vo.content}</textarea>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="submit" class="btn btn-doc1">修改</button>
                                                    </div>
                                                </form>

                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                    <a data-toggle="modal" data-target="#myModa{$vo.id}"><span class="glyphicon glyphicon-trash">删除</span></a></td>
                                    <div class="modal " style="margin-top: 100px" id="myModa{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>

                                                <div class="post-head " >
                                                    <h1 class="post-title " >
                                                        确定要删除么？删除后无法恢复
                                                    </h1>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                    <a href="{:url('wellsaying/delwellsaying',['id'=>$vo.id])}" class="btn btn-doc1">确定</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.ovdate}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="page-doc" >
                    {$wellsaying->render()}
                </div>

                    <div class="post-permalink">
                        <a data-toggle="modal" data-target="#myModal1" class="btn btn-doc1">添加名言</a>
                        <div class="modal " style="margin-top: 100px" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">添加名言</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <form method="post" style="margin-top: 10px" action="{:url('wellsaying/savewellsaying')}" role="form">

                                            <label for="title" class="">名言内容：</label>
                                        <textarea type="text" rows="4" style="width: 100%" class="form-control form-control1"  id="title" name="content" placeholder="请名言内容，包含作者"></textarea>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-doc1">添加</button>
                                        </div>
                                    </form>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                    <footer class="post-footer " >

                    </footer>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>