<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>program-01的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/bootstrap.css " >
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/css/mojiji.css "  >
    <link href="favicon.ico" rel="shortcut icon">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

    <script src="__PUBLIC__/js/bootstrap.js " ></script>
    <script src="__PUBLIC__/js/mojiji.js" ></script>
</head>
<body>
<div class="container">
    <div class="row">
            <div class="col-md-12"><h2>简单考试系统</h2></div>
    </div>
<div class="row">
    <div class="col-md-12">
            <form action="{:url('index/index/tijiao')}" method="post">
            {volist name="shiti" id="vo"}
                <div class="form-group">
                    <label >{$vo.id}、{$vo.content}</label>
                    <div class="row">
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" name="{$vo.id}[]"  value="A"> A、{$vo.a}
                </label>
            </div>
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" name="{$vo.id}[]" value="B"> B、{$vo.b}
                </label>
            </div>
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox"name="{$vo.id}[]" value="C">C、{$vo.c}
                </label>
            </div>
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" name="{$vo.id}[]" value="D"> D、{$vo.d}
                </label>
            </div>
                </div>
                </div>
            {/volist}

                <button class="btn btn-danger" type="submit">提交答案</button>

            </form>
        </div>
</div></div>
</body>
</html>